<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- This is only used for internal builds, to get the correct compiler warning rule set. -->
    <packageSources>
        <clear />
        <add key="Sudo_PrivateDependencies" value="https://pkgs.dev.azure.com/microsoft/Dart/_packaging/Sudo_PrivateDependencies/nuget/v3/index.json" />
    </packageSources>
</configuration>
